<button id="backHome" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Homepage</button>

    {{#if logged_in}}
      <h1 class="text-2xl">You are logged in!</h1>>
    {{/if}}

<div class="w-screen h-screen flex flex-col items-center overflow-y-auto py-8 gap-8">



    {{#each journals as |journal| }}
    <div id="{{ journal.id }}" class="w-screen md:w-3/4 h-auto flex flex-col justify-center items-center bg-gray-200 border-b-2 border-r-2 border-black rounded-lg shadow-xl shadow-gray-500 py-4 px-4 gap-4 hover:scale-110">
        <div class="w-3/4 h-auto flex flex-row justify-between items-center">
            <div class="w-1/2">
                <h2 class="text-xl"><span class="font-bold">Date: </span>{{journal.date}}</h2>
            </div>
            <div class="w-1/4">
                <h2 class="text-xl"><span class="font-bold">Mood: </span>{{journal.mood_id}}</h2>
            </div>
        </div>
        <div class="w-3/4 border-b-2 border-black">
            <h2 class="text-xl"><span class="font-bold">Topic: </span>{{journal.topic}}</h2>
        </div>
        <div class="w-3/4">
            <p class="text-lg">{{journal.notes}}</p>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/entries.js"></script>
<script src="/js/logout.js"></script>